body {
    background-color: rgb(73, 64, 64);
}

#main{
    width: auto;
}

h1 {
    text-align: center;
    font-size: 100px;
    margin-top: -0px;
    color: rgb(207, 29, 29);
}
#story{
    font-size: 2rem;
    text-align: center;
    padding-bottom: 2rem;
}

.scoreBoard{
    display:flex;
    background-color: darkgrey;
    height: 100px;
    justify-content: space-around;
}
#hero{
    color: blue ;
    font-size: 50px;
}
#enemy{
    color: red;
    font-size: 50px;
}
.score{
    display: contents;
    font-size: 50px;
    text-align: center;
  
}
#playerScore{
    color: blue;
}
#enemyScore{
    color: RED;
}


.playSelect {
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
}

img {
    height: 450px;
    width: 450px;
}

