body {
    background-color: rgb(19, 19, 19);
    font-family: 'GlacialIndifferenceRegular';
    font-weight: normal;
    font-style: normal;
    display: flexbox;
}

#main{
    width: auto;
}

h1 {
    text-align: center;
    font-size: 100px;
    margin-top: -0px;
    color: rgb(207, 29, 29);
    padding-top: 25px;
    

}

button{
    height: 400px;
    background-color: rgb(73, 64, 64);
    border-style: solid;
    border-color: yellow;
    box-shadow: 0rem 0rem 3rem red ;
}

#story{
    font-size: 2rem;
    text-align: center;
    padding-bottom: 2rem;
    
}

.scoreBoard{
    display:flex;
    background-color: darkgrey;
    height: 100px;
    justify-content: space-around;
    border-style: solid;
    border-color: yellow;
    box-shadow: 0rem 0rem 3rem red ;
    padding-top: 25px;
}
#hero{
    color: blue ;
    font-size: 50px;
   
}
#enemy{
    color: red;
    font-size: 50px;
}
.score{
    display: contents;
    font-size: 50px;
    text-align: center;
    padding-right: 50px;
  
}
#playerScore{
    color: blue;
    transition: 100ms;
}
#enemyScore{
    color: RED;
    transition: 100ms;
}


.playSelect {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

img {
    height: 100%;
    width: 100%;
}

#rock{
    width: 394px;

}

#play-again {
    margin: 0 45%;
    height: 5rem;
    width: 10rem;
}

